<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body style="padding: 0; margin: 0;">
    <section class="page-break" style="position: relative; margin: 5%">
      <div class="hotWorkPermit">
        <img class="logo" src="http://localhost:5000/images/templateImages/logo.png" alt="logo" />
        <div>
          <h1>HOT WORK PERMIT</h1>
        </div>
        <div>
          <p><b>Project: </b> {{value}}</p>
          <p><b>Job No.: </b> {{value}}</p>
        </div>
        <div>
          <h4>PART 1 - Details of Hot Work</h4>
          <p><b>Site: </b> {{hot_work_permit.site}}</p>
          <p><b>Floor/Level: </b> {{hot_work_permit.floor_level}}</p>
          <p>
            <b>Nature of work (include exact location):
            </b> {{hot_work_permit.nature_of_work}}
          </p>
          <p><b>Date: </b> {{formatDate hot_work_permit.date}}</p>
        </div>
        <h4>
          The Above location has been examined and the precautions listed below
          have been taken
        </h4>
        <div>
          <h4>PART 2 - Hot Work Permit Precautions</h4>
          <p>
            The person carrying out this check should tick as appropriate those
            precautions which have been taken. Those which are not relevant
            should be marked with a cross.
          </p>
          <p>
            {{checkHWP hot_work_permit.permit_precautions_one}}
            Loose combustible material cleared<br />
            {{checkHWP hot_work_permit.permit_precautions_two}}
            Non-movable combustible material covered<br />
            {{checkHWP hot_work_permit.permit_precautions_three}}
            Suitable extinguishers to hand<br />
            {{checkHWP hot_work_permit.permit_precautions_four}}
            Gas cylinders secured in a vertical position on a trolley<br />
            {{checkHWP hot_work_permit.permit_precautions_five}}
            Gas cylinders fitted with a regular and flashback arrestor<br />
            {{checkHWP hot_work_permit.permit_precautions_six}}
            Other personnel who may be affected by work removed from the area
          </p>
          <p>
            WORK ON WALLS, CEILINGS OR PARTITIONS<br />
            {{checkHWP hot_work_permit.permit_precautions_seven}}
            Opposite side checked and combustibles moved away
          </p>
          <p>
            WELDING CUTTING OR GRINDING WORK<br />
            {{checkHWP hot_work_permit.permit_precautions_eight}}
            Work area screened to contain sparks
          </p>
          <p>
            BITUMEN BOILERS, LEAD HEATERS ETC<br />
            {{checkHWP hot_work_permit.permit_precautions_nine}}
            Gas cylinders at least 3m from the burner<br />
            {{checkHWP hot_work_permit.permit_precautions_ten}}
            If sited on the roof, heat insulating base provided
          </p>
        </div>
        <div>
          <h4>PART 3 - Details of Persons and Times of Permit</h4>
          <p>
            Permit issued by: Name:
            {{hot_work_permit.permit_issued_by_person}}
            Signature:
            <img
              src="http://localhost:5000/images/documents/{{hot_work_permit.permit_issued_by_person_signature}}"
              alt="signature"
            />
            Company:
            {{hot_work_permit.permit_issued_by_company}}
          </p>
          <p>
            Permit received by: Name:
            {{hot_work_permit.permit_received_by_person}}
            Signature:
            <img
              src="http://localhost:5000/images/documents/{{hot_work_permit.permit_received_by_person_signature}}"
              alt="signature"
            />
            Company:
            {{hot_work_permit.permit_received_by_company}}
          </p>
          <p>Time work started: {{value}}</p>
          <p>
            Time work finished and cleared up:
            {{value}}<br />
            (MUST be at least 1 hour before leaving the site)
          </p>
        </div>
        <div>
          <h4>PART 4 - Final check up</h4>
          <p>
            Work areas and all adjacent to which sparks and heat might have
            spread (such as floors above and below and on opposite sides of
            walls) were inspected one hour after the work finished and were
            found fire safe.
          </p>
          <p>
            <b>Final check by: Name:</b> 
            {{hot_work_permit.final_check_name}}
            Signature:
            <img
              src="http://localhost:5000/images/documents/{{hot_work_permit.final_check_signature}}"
              alt="signature"
            />
            <b>Time:</b> 
            {{hot_work_permit.final_check_time}}
          </p>
        </div>
        <p>
          After signing off the permit return the permit to the person who
          issued it.
        </p>
      </div>
    </section>
    <style>
      .hotWorkPermit p { font-size: 13px; } .hotWorkPermit .logo { position:
      absolute; top: 0; right: 0; width: 100px; height: 50px; } .hotWorkPermit h4{ margin: 10px 0px 0px 0px} .hotWorkPermit
      img { height: 20px; width: auto; margin: 0; padding: 0; } .page-break {
      page-break-after: always; }
    </style>
  </body>
</html>