<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body style="padding: 0; margin: 0;">
    <section class="page-break" style="position: relative; margin: 5%">
      <div class="siteAttendance1">
        <img
          class="logo"
          src="https://form-2-pdf.herokuapp.com/images/templateImages/logo.png"
          alt="logo"
        />
        <div>
          <h1>SITE ATTENDANCE REGISTER</h1>
        </div>
        <table>
          <thead>
            <tr>
              <th>PRINT NAME:</th>
              <th>SIGNATURE:</th>
              <th>LOCATION:</th>
              <th>TIME IN:</th>
              <th>TIME OUT:</th>
            </tr>
          </thead>
          <tbody>
            {{#each site_attendances}}
              <tr>
                <td>{{this.name}}</td>
                <td>
                  <img
                    src="https://form-2-pdf.herokuapp.com/images/documents/{{this.signature}}"
                    alt="signature"
                  />
                </td>
                <td>{{reinstatement_sheets.location}}</td>
                <td>{{this.time_in}}</td>
                <td>{{this.time_out}}</td>
              </tr>
            {{/each}}
            {{#if (lessthen site_attendances.length 23)}}
              {{#each (range site_attendances.length 23)}}
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              {{/each}}
            {{/if}}
          </tbody>
        </table>
      </div>
    </section>
    <style>
      .siteAttendance1 .logo { position: absolute; top: 0; right: 0; width:
      100px; height: 50px; } .siteAttendance1 table { border-collapse: collapse;
      width: 100%; margin-top: 30px; } .siteAttendance1 th, .siteAttendance1 td
      { border: 1px solid #ddd; padding: 8px; text-align: left; word-wrap:
      break-word; overflow-wrap: break-word; max-width: 220px;} .siteAttendance1 th { background-color: #f2f2f2; }
      .siteAttendance1 tr { height: 36px; } .siteAttendance1 img {height: 20px;
      width: auto; max-width: 180px; margin: 0; padding: 0;} .page-break { page-break-after:
      always; }
    </style>
  </body>
</html>